/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 7, 2017, 5:06:39 PM
    Author     : layely
*/

/* Remove the navbar's default margin-bottom and rounded borders */
body {
    background-color: whitesmoke;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: green;
    border-color: green;
}

.jumbotron {
    margin-bottom: 0;
    color: gold;
    /*color: green;*/
    background-image: url("../img/le_maraicher.jpeg");
}

/* Add a gray background color and some padding to the footer */
footer {
    /*background-color: green;*/
    color: yellow;
    padding: 25px;
    background: green; /* For browsers that do not support gradients */
    /*    background: -webkit-linear-gradient(whitesmoke, green);  For Safari 5.1 to 6.0
        background: -o-linear-gradient(whitesmoke, green);  For Opera 11.1 to 12.0
        background: -moz-linear-gradient(whitesmoke, green);  For Firefox 3.6 to 15
        background: linear-gradient(whitesmoke, green);  Standard syntax */
}

.produit_name{
    font-family: fantasy;
    font-size: 2.7em;
    /*color: #1b6d85;*/
}

img{
    width: 300px;
    height: 300px;
}

#panier {
    min-height: 400px;
}


.digit-only {
    /*max-width: 60px;*/
    text-align: end;
}

#submit {
    margin-bottom: 25px;
    background-color: #FFEF01;
}

/*    For spinner   */
.spinner {
    width: 100px;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}